<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>CodeCraftsmen is a niche start up providing transformational IT solutions and services for Insurers.
          We are a team of technology, domain and management experts in managing complex projects and delivering business value to customers.
        </p>
      </div>
      <div class="col-lg-4">
        <p>CodeCraftsmen specializes in high-impact, business-technology Transformation, advisory and implementation services.
          With deep domain expertise it brings a broader understanding of Insurance industry trends and its implications to insurers.
        </p>
      </div>

    </div>
  </div>
</section>
